.editor-container {
    position: relative;
    background-color: #121212;
    border-radius: 0.5rem; 
    border: 1px solid #4a5568; 
    overflow-y: scroll; 
    overflow-x: scroll;
    
}

.editor {
    min-height: 100%;

    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    caret-color: white;
}
.editor pre,
.editor textarea {
  max-width: 100%;
  white-space: pre !important;
  word-wrap: normal !important;
  white-space: pre-wrap !important;
  word-break: break-word;
}

.ghost-text {
  opacity: 0.5; 
  pointer-events: none; 
}