@import "tailwindcss";

::-webkit-scrollbar {
  width: 12px; 
  background-color: transparent; 
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #2a2a2a; 
  border-radius: 6px; 
  border-radius: 6px;
}


::-webkit-scrollbar-thumb {
  background-color: #555; 
  border-radius: 6px; 
  border: 3px solid #2a2a2a; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777; 
}


* {
  scrollbar-width: thin; 
  scrollbar-color: #555 transparent; 
}

pre[class*="language-"],
code[class*="language-"] {
  background: transparent !important;
  color: #8DA1B9 !important;
    white-space: pre-wrap !important;
  word-break: break-word;
}